# =============================
# Node / Dependencies
# =============================
node_modules/
.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# =============================
# Testing
# =============================
coverage/

# =============================
# Next.js build output
# =============================
.next/
out/
build/

# =============================
# Environment variables
# NEVER EVER commit these!
# =============================
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# =============================
# Firebase sensitive files
# (IMPORTANT)
# =============================
*.pem
*.p12
*.key
*.crt
serviceAccountKey.json

# If you accidentally download Firebase JSON inside project, this will ignore it
*service-account*.json

# =============================
# OS / Editor Junk
# =============================
.DS_Store
Thumbs.db

# =============================
# Logs
# =============================
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.pnpm-debug.log*
lerna-debug.log*

# =============================
# Vercel
# =============================
.vercel/

# =============================
# TypeScript
# =============================
*.tsbuildinfo
next-env.d.ts
